* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.main-container {
  margin: 0 auto;
}
.form-controls{
  margin: 10px 20px;
}

.breakthrough-board {
  align-self: center;
  margin: 0 auto;
}

.breakthrough-cell {
  cursor: pointer;
  -webkit-appearance:     none;
  -moz-appearance:        none;
  -ms-appearance:         none;
  -o-appearance:          none;
  appearance:             none;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: solid thin;
  padding: 0;
  background-size: contain;
  background-repeat: no-repeat no-repeat;
}