{% extends "layout.html" %} {% block content %} {% from 'macros.html' import
construct_breakthrough %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 main-container">
      {{ construct_breakthrough(6,6) }}
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" id="request-board" class="btn btn-primary">New Board</button>
        <button type="button" id="play-against-ai" class="btn btn-success">Play against AI</button>
        <button type="button" id="ai-autoplay" class="btn btn-warning">AI vs AI</button>
      </div>
      <input type="number" id="think-number" placeholder="AI Think (default=10)">
      <div class="col-sm-12">
        <h3 id="game-info"></h3>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    let curr_board;
    let curr_selected_cell;
    let white_playing = true;
    let is_terminal = false;
    const game_info = $("#game-info");
    let in_autoplay = false;
    let playing_against_ai = true;
    const autoplay_button = $("#ai-autoplay");
    const play_against_ai_button = $("#play-against-ai");
    const ai_think = $("#think-number");

    function get_new_board(){
      $.ajax({
        type: "GET",
        url: '{{url_for("get_board")}}'
      }).done(res => {
        curr_board = res;
        white_playing = true;
        is_terminal =false
        in_autoplay = false
        autoplay_button.removeClass('active');
        play_against_ai_button.addClass('active');
        render_board();
        render_game_info();
      });
    }

    get_new_board();

    function render_game_info(){
      if(!is_terminal){
        game_info.text(`Current player is ${white_playing ? "white" : "black"}`)
      } else {
        game_info.text(`📣 Winning player is ${white_playing ? "Black" : "White"} 📣`)
      }
    }

    function render_board(){
        for(let y = 0; y < 6; y++){
          for(let x = 0; x < 6; x++){
            key = `x${x}y${y}`;
            if(curr_board[key] == 1){
              $('#'+key).css('background-image', "url({{black}}");
            } else if (curr_board[key] == -1) {
              $('#'+key).css('background-image', "url({{white}})");
            } else {
              $('#'+key).css('background-image', "");
            }
          }
        }
    }

    $("#request-board").click(function(e) {
      e.preventDefault();
      get_new_board();
    });

    async function get_ai_move(){
      if(is_terminal) return;
      
      let think = ai_think.val() || 10;
      let url = '{{url_for("get_ai_move")}}'
      url += `?think=${think}`
      const response = await fetch(url, {
        method: 'GET', // *GET, POST, PUT, DELETE, etc.
      });
      let resp = await response.json();
      curr_board = resp;
      const from = `#${resp.from}`;
      const to = `#${resp.to}`;
      $(to).css('background-image', $(from).css('background-image'))
      $(from).css("background-image", '');
      white_playing = !white_playing;
      is_terminal = curr_board['terminal'];
      render_game_info();
      return;
    }

    play_against_ai_button.click(function(e) {
      e.preventDefault();
      play_against_ai_button.button('toggle');
      playing_against_ai = !playing_against_ai;
    });


    $('#ai-autoplay').click(async function(e){
        in_autoplay = !in_autoplay;
        if(in_autoplay){
          autoplay_button.addClass('active');
          while(in_autoplay && !is_terminal){
            await get_ai_move();
          }
        } else {
          autoplay_button.removeClass('active');
        }
    });

    function select_cell(clicked){
      clear_colors();
        curr_selected_cell = clicked;
        curr_selected_cell.css("background-color", "LightBlue");
        let moves = curr_board[`m${curr_selected_cell.attr('id')}`];
        if(moves){
          moves.forEach(element => {
            $(`#${element}`).css('background-color', 'LightPink');
          });
        }
    }

    function clear_colors(){
      $('.breakthrough-cell').css('background-color', '');
    }

    $(".breakthrough-cell").click(async function(e) {
      e.preventDefault();
      let clicked = $(this);
      if(!curr_selected_cell){
        select_cell(clicked);
      } else {
        // checking if its a valid move
        let valid_move = false;
        let available;
        let moves = curr_board[`m${curr_selected_cell.attr('id')}`];
        if(moves){
          moves.forEach(element => {
            available = $(`#${element}`);
            if(available[0] == this){
              valid_move = true;
            }
          });
        }
        if(!valid_move){
          select_cell(clicked)
        } else {
          const data = {
            'from': curr_selected_cell.attr('id'),
            'to': clicked.attr('id')
          };
          const response = await fetch('{{url_for("post_move")}}', {
            method: 'POST', // *GET, POST, PUT, DELETE, etc.
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(data) // body data type must match "Content-Type" header
          });
          let resp = await response.json();
          if(resp.valid){
            clicked.css('background-image', curr_selected_cell.css('background-image'))
            curr_selected_cell.css("background-image", '');
            curr_board = resp;
            white_playing = !white_playing;
            is_terminal = curr_board['terminal'];
            render_game_info();
            console.log("should ai do a move",playing_against_ai)
            if(playing_against_ai){
              get_ai_move();
            }
          } else {
            // here js valid move worked but not on the backend
            select_cell(clicked);
          }
          clear_colors();
        }

      }
    })

  });
</script>
{% endblock %}
